// HEADER
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px #ccc;

  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &_nav {
    width: 100%;
    height: 60px;
    background-color: $bg_color;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    & .container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &_logo {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: $main-color;
  }

  &_search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $main-color;
    border-radius: 12px;
    height: 40px;
    max-width: 550px;
    width: 100%;
    &-btn {
      all: unset;
      border-left: 1px solid #ccc;
      border-radius: 12px;
      font-size: 15px;
      width: 40px;
      text-align: center;
      background-color: $main-color;
      line-height: 40px;
      padding: 0 15px;
      color: $bg_color;
      flex-shrink: 0;
      cursor: pointer;
    }
    & input {
      all: unset;
      width: 100%;
      padding: 5px 0 5px 15px;
      font-size: 15px;
      color: $color_w;
      transition: width 0.5s ease;
    }
  }

  &_menu {
    display: flex;
    align-items: center;
    gap: 30px;
    &-btn {
      font-size: 15px;
      line-height: 14px;
      text-decoration: none;
      color: $color_w;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 10px;
      & i {
        font-size: 20px;
      }
    }
  }
  &_cart {
    &-wrap {
      position: relative;
      & .header_cart-notice {
        position: absolute;
        top: -8px;
        right: -8px;
        width: 18px;
        height: 18px;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &-item {
      &--link {
        font-size: 15px;
        color: $bg_color;
        font-weight: 500;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  &_category {
    width: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.header_user {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  cursor: pointer;

  // Khi di chuột vào khối user thì hiện menu
  &:hover .header_user-menu {
    display: block;
  }

  &-info {
    display: flex;
    align-items: center;
    color: $color_w;
    gap: 10px;
    & i {
      font-size: 20px;
    }
  }

  &-name {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }

  // Dropdown Menu
  &-menu {
    position: absolute;
    z-index: 100;
    padding: 8px 0;
    top: calc(100% + 8px); // Cách header một khoảng nhỏ
    right: 0;
    width: 170px;
    background-color: #fff;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: none; // Mặc định ẩn
    animation: fadeIn ease-in 0.2s;

    // Lớp đệm để không bị mất hover khi di chuyển chuột xuống
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      width: 100%;
      height: 20px;
      display: block;
    }

    // Mũi tên nhọn hướng lên
    &::after {
      content: "";
      position: absolute;
      right: 12px;
      top: -16px;
      border-width: 8px 12px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
  }

  &-item {
    &--separate {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
      padding: 8px 16px;
      display: block;

      &:hover {
        background-color: #f8f8f8;
        color: #d0021c;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
