// Badges & Buttons
.status-badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;

  &.badge-warning {
    background: #fff9db;
    color: #f08c00;
  }
  &.badge-success {
    background: #ebfbee;
    color: #40c057;
  }
}

.action-link {
  color: $accent-blue;
  text-decoration: none;
  font-weight: 600;
  margin-inline: 10px;
  &:hover {
    text-decoration: underline;
  }
}
.btn-primary {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    background-color: $primary-hover;
    box-shadow: 0 4px 12px rgba(208, 2, 28, 0.2);
  }
}
.action-link i {
  font-size: 20px;
}

.text-danger {
  color: #e74c3c !important;
}

.text-warning {
  color: #f1c40f;
}